@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base bg white */
@layer base {
  body {
    @apply bg-primary text-gray-800 min-h-screen;

  }
}

/* Custom fonts */
@font-face {
    font-family: 'Nyghtserif';
    src: url('../assets/fonts/NyghtSerif-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal; /* Normal o italic */
  }
  